/codigo/OsVingadores/nbproject/private/
/codigo/OsVingadores/build/
/documentacao/OsVigadores-CaçaVilões.vpp.*
/documentacao/.OsVigadores-CaçaVilões.vpp.lck

documentacao/\.lock

documentacao/\.vpprefdata/

*.tmp
